<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>Formulario Usuario</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-info">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
				aria-controls="navbarTogglerDemo03" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" th:href="@{/}">Seguridad Integral</a>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" ></a></li>
				</ul>
				<form class="d-flex">
					<a th:href="@{/logout}" class="btn btn-light">Salir</a>
				</form>
			</div>
		</div>
	</nav>

	<div class="container mt-5 - d-flex justify-content-center">
		<div class="card - col-md-5">
			<div class="card-body">
				<div>
					<h2>Formulario de Registro</h2>
				</div>
				<form th:action="@{/usuarios}" th:object="${usuario}" method="post">
					<fieldset class="form-group">
						<label>Nombre</label> <input type="text" th:field="*{nombre}"
							class="form-control" name="nombre"
							placeholder="Escriba su nombre">
					</fieldset>
					<br>
					<fieldset class="form-group">
						<label>Username</label> <input type="text" th:field="*{username}"
							class="form-control" name="username"
							placeholder="Escriba su nombre de usuario">
					</fieldset>
					<br>
					<fieldset class="form-group">
						<label>Password</label> <input type="password"
							th:field="*{password}" class="form-control" name="password"
							placeholder="Escriba su contraseña">
					</fieldset>
					<br>
					<fieldset class="form-group">
						<label>Email</label> <input type="email" th:field="*{email}"
							class="form-control" name="email"
							placeholder="Escriba su correo electrónico">
					</fieldset>
					<br>
					<fieldset class="form-group">
						<label>Perfiles</label>
						<th:block th:each="perfil: ${perfiles}">
							<input type="checkbox" th:field="*{perfiles}"
								th:text="${perfil.tipo}" th:value="${perfil.id}" class="m-2">
						</th:block>
					</fieldset>
					<br>
					<fieldset>
						<button type="submit" class="btn btn-info">Registrarse</button>
					</fieldset>

				</form>
			</div>
		</div>
	</div>
</body>
</html>